<h1>Galp천es e Estoque</h1>

<% @warehouses.each do |w| %>
  <div>
    <p><%= w.name%></p>
    <p>C처digo: <%= w.code%></p>
    <p>Cidade: <%= w.city%></p>
    <p><%= w.area%></p>
  </div>
<% end %>

<% if @warehouses.empty? %>
  <p>N찾o existem galp천es cadastrados</p>
<% end %>